
footer(class="footer")
    div(class="content has-text-centered")
        div(class="container")
            div(class="columns")
                div(class="column is-4 is-offset-4")
                    div(class="columns")
                        div(class="column")
                            a(href="https://www.linkedin.com/in/yordivad/")
                                img( src= "{{ '/images/social/linkedin.png' | relative_url}}" alt="linkedin" )
                        div(class="column")
                            a(href="https://github.com/yordivad")
                                img(src="{{ '/images/social/github.png' | relative_url}}" alt="github")
                        div(class="column")
                            a(href="https://mlambda-net.github.io/")
                                img(src="{{ '/images/social/mlambda.png' | relative_url}}" alt="mlambda")
            div(class="columns")
                div(class="column is-centered")
                    p(class="is-size-6") all rights reserved
            div(class="columns")
                div(class="column is-centered")
                    p(class="is-size-5") by Roy Gonzalez
