


div(class="side-right")

    div(class="card mt-3" style='height:100%; box-shadow:0px 0px')
        div(class="card-image")
            figure(class="image is-1by1")
                img(src="{{'/images/me/roy.svg' | relative_url}}" style="border-radius: 10em")
        div(class="card-content centered")
            div(class="content")
                span(class="is-size-3") Roy Gonzalez
            hr
            div(class="m-3")
                span(class="icon")
                    i(class="fa-sharp fa-solid fa-envelope")
                span yordivad@gmail.com

            div(class="m-3")
                span(class="icon")
                    i(class="fa-sharp fa-solid fa-phone")
                span +506 71105675
