


div(class="side-right")

    div(class="card mt-3" style='height:100%')
        div(class="card-image")
            figure(class="image is-1by1 is-rounded")
                img(src="{{'/images/me/roy.svg' | relative_url}}" )
        div(class="card-content")

            div(class="content")
                span(class="is-size-3") Roy Gonzalez
            hr

            div(class="m-3")
                span(class="icon")
                    i(class="fa-sharp fa-solid fa-envelope")
                span yordivad@gmail.com

            div(class="m-3")
                span(class="icon")
                    i(class="fa-sharp fa-solid fa-phone")
                span +506 71105675
