@import url('https://fonts.googleapis.com/css?family=Roboto|Slackey');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

$family: 'Roboto', 'sans-serif';
$title-font: 'Slackey';
$primary: #00A8E8;
$secondary: #007EA7;
$principal: #003459;
$white: #FFFFFF;
$black: #00171F;
